# Free tier provides 5000 free API calls per month. 150 assumes daily execution
MAX_TWEETS_TO_ANALYSE: '150'
# MODIFY THIS - source table for tweets to analyse
PENDING_TWEETS_TABLE: 'my-project.my-master-dataset.tweets_data_pending_sentiment'
# MODIFY THIS - destination table for analysed tweets
SENTIMENT_DESTINATION_TABLE: 'my-project.my-master-dataset.tweets_sentiment'