# You might not need to modify this unless you want to scrape more tweets at a time
MAX_TWEETS_TO_ANALYSE: '100'
# MODIFY THIS - source table for tweets to analyse
PENDING_TWEETS_TABLE: 'my-project.my-master-dataset.tweets_data_pending_sentiment'
# MODIFY THIS - destination table for analysed tweets
SENTIMENT_DESTINATION_TABLE: 'my-project.my-master-dataset.tweets_sentiment'