# You might not need to modify this unless you want to scrape more tweets at a time
SCRAP_MAX_TWEETS: '1000'
# MODIFY THIS - destination table for scrapped tweets
SCRAP_DESTINATION_TABLE: 'my-project.my-raw-dataset.tweet_data'