# MODIFY THIS - your ingest-tweets cloud function url
SCRAPPING_CLOUD_FUNCTION_URL: 'https://us-east1-my-project.cloudfunctions.net/ingest_tweets'
# MODIFY THIS - your bucket name where searches csv is stored
SEARCHES_FILE_BUCKET: 'my-bucket'
# You might not need to modify this if you are using the same searches
SEARCHES_FILE_FILENAME: 'searches.csv'